{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Hero Section -->
<div class="hero-wrapper hero-section">
    <div class="hero-content hero-text text-center">
        <h1 class="hero-title">Welcome to The Vine Leaf</h1>
        <p class="hero-subtitle">
            Your table is waiting. Book a reservation today!
        </p>

        <div class="hero-buttons mt-4">
            <a href="{% url 'booking' %}" class="btn btn-outline-secondary hero-buttons btn-lg mx-2">Make a Booking</a>
            <a href="{% url 'menus' %}" class="btn btn-outline-secondary hero-buttons btn-lg mx-2 menu-btn">View Menu</a>
            <a href="#" class="btn btn-outline-secondary hero-buttons btn-lg mx-2">More Information</a>
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <h2 class="section-heading">Experience Rustic Dining Inspired by Nature</h2>
    <p class="section-description mt-3">
        At The Vine Leaf, we blend seasonal ingredients, warm hospitality, 
        and timeless recipes to bring you an unforgettable dining experience.
    </p>
</div>

<h2 class="text-center mt-5">Opening Hours</h2>

<div class="d-flex justify-content-center mt-3">
    <table class="table table-bordered table-striped opening-times w-50">
        <tbody>
            <tr><td>Monday</td><td>17:00 - 22:00</td></tr>
            <tr><td>Tuesday</td><td>17:00 - 22:00</td></tr>
            <tr><td>Wednesday</td><td>17:00 - 22:00</td></tr>
            <tr><td>Thursday</td><td>17:00 - 22:00</td></tr>
            <tr><td>Friday</td><td>17:00 - 22:00</td></tr>
            <tr><td>Saturday</td><td>17:00 - 22:00</td></tr>
            <tr><td>Sunday</td><td>17:00 - 22:00</td></tr>
        </tbody>
    </table>
</div>

<div class="map">
    <h2 class="text-center">Find us!</h2>
    <iframe
    width="100%"
        height="350"
        style="border:0; border-radius: 8px;"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10377.496!2d0.6874!3d51.0688!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47df4312e6dcf897%3A0x0000000000000000!2sTenterden%2C%20UK!5e0!3m2!1sen!2suk!4v0000000000">
    </iframe>
</div>
{% endblock %}