{% extends "base.html" %}

{% block title %}Our Menu{% endblock %}

{% block content %}

<div class="container mt-5 menu-page">

    <h2 class="text-center mb-3">Our Menu</h2>
    <p class="text-center text-muted mb-5">
        Discover the flavours of <strong>The Vine Leaf</strong>.  
        Fresh, seasonal ingredients inspired by rustic countryside dining.
    </p>

    <div class="row" id="menu-grid starters">
        <h2>Starters</h2>
            <div class="col-md-4 mb-4">
                <div class="card menu-card p-3">
                    <h5>Dish name</h5>
                    <p class="text-muted">Short description</p>
                <strong>Price</strong>
            </div>
        </div>
    </div>
</div>

{% endblock %}