{% extends "base.html" %}
{% block title %}Our Menu{% endblock %} 
{% block content %}

<div class="container mt-5 menu-page">
  <h2 class="text-center mb-3">Our Menu</h2>
  <p class="text-center text-muted mb-5">
    Discover the flavours of <strong>The Vine Leaf</strong>. Fresh, seasonal
    ingredients inspired by rustic countryside dining.
  </p>

  <div class="row g-4" id="menu-grid">
    <!-- Starters -->
        <div class="col-md-4 mb-5">
            <h3 class="text-center mb-3">Starters</h3>

            <div class="card menu-card p-3">
                <h5>Italian Olives</h5>
                <p class="text-muted">Marinated green Nocellara olives from Sicily.</p>
                <strong>£3.50</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Garlic bread</h5>
                <p class="text-muted"></p>
                <strong>£5.50</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Cheese Dough Bites</h5>
                <p class="text-muted">Garlic and mozarella baked into little dough bites.</p>
                <strong>£7.25</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Burrata Tricolore</h5>
                <p class="text-muted">Velvety burrata cheese, topped with pesto. Served on a salad of plum tomatoes and rocket.</p>
                <strong>£9.50</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Pigs in Blankets</h5>
                <p class="text-muted">Sausages wrapped in prosciutto and drizzled with honey.</p>
                <strong>£6.25</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Bruschetta</h5>
                <p class="text-muted">Grilled bread rubbed with garlic and topped with fresh tomatoes, basil, and olive oil.</p>
                <strong>£7.25</strong>
            </div>
        </div>

        <!-- Mains -->
        <div class="col-md-4 mb-5">
            <h3 class="text-center mb-3">Mains</h3>

            <div class="card menu-card p-3">
                <h5>King Prawn Tagliatelle</h5>
                <p class="text-muted">Fresh frilly tagliatelle tossed with garlic-marinated king prawns, courgettes, baby plum tomatoes & a creamy seafood sauce. Garnished with parsley, chilli & lemon.</p>
                <strong>£15.00</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Luganica Sausage and 'Nduja Frilly Tagliatelle</h5>
                <p class="text-muted">Luganica style sausage in a rich tomato sauce with spicy 'Nduja, finished with mascarpone and crispy prosciutto.</p>
                <strong>£18.25</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Pollo Milanese with Chips</h5>
                <p class="text-muted">Breaded chicken breast served with crispy chips and a side salad.</p>
                <strong>£15.40</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Caesar Salad</h5>
                <p class="text-muted">Fresh baby lettuce topped with chicken breast pieces and smoky pancetta.</p>
                <strong>£11.00</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Burrata and Slow-roasted Tomato Pizza</h5>
                <p class="text-muted">Creamy and silky burrata with sweet slow-roasted tomatoes and black olive tapenade on a tomato and mozzarella base with fresh basil.</p>
                <strong>£15.50</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Pepparoni Pizza</h5>
                <p class="text-muted">Pepperoni, tomato sauce, red onions and mozzarella cheese on a crispy base.</p>
                <strong>£12.25</strong>
            </div>
        </div>

        <!-- Drinks -->
        <div class="col-md-4 mb-5">
            <h3 class="text-center mb-3">Drinks</h3>

            <div class="card menu-card p-3">
                <h5>Classic Champagne Cocktail</h5>
                <p class="text-muted">Brandy, Angostura bitters, sugar cube, champagne.</p>
                <strong>£14.00</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>French Martini Spritz</h5>
                <p class="text-muted">Vodka, Chambord, pineapple juice, prosecco.</p>
                <strong>£12.80</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Kiwi Fizz</h5>
                <p class="text-muted">Gin, elderflower, kiwi syrup, fresh lime juice, soda water</p>
                <strong>£12.50</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>French 75</h5>
                <p class="text-muted">Gin, fresh lemon, sugar, champagne.</p>
                <strong>£13.00</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Barrel-aged Negroni</h5>
                <p class="text-muted">Gin, Campari, sweet vermouth, barrel-aged for a smooth finish.</p>
                <strong>£13.00</strong>
            </div>
            <div class="card menu-card p-3">
                <h5>Soft drinks</h5>
                <p class="text-muted">Coca-Cola, Sprite, Fanta, Orange/Apple juice (330ml)</p>
                <strong>£3.50</strong>
            </div>
        </div>

    </div>

</div>


{% endblock %}
