/* Global styles */

body {
    background-color: #F5F5E9; /* soft cream */
    color: #2F2F2F; /* dark charcoal */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #556B2F !important; /* olive green */
}