/* Global styles */

body {
    background-color: #F5F5E9; /* soft cream */
    color: #2F2F2F; /* dark charcoal */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #556B2F !important; 
}

/* Hero section styles */

.hero-wrapper {
    background-color: #A5B88F20; 
    padding: 80px 20px;
    border-radius: 10px;
    margin-top: 40px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-title {
    font-size: 3rem;
    color: #556B2F; 
    font-weight: 700;
}

.hero-subtitle {
    font-size: 1.2rem;
    color: #2F2F2F; 
    margin-top: 15px;
}

.hero-section {
    height: 45vh;
    background-image: url('/static/images/hero.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    color: white;
    text-shadow: 1px 1px 8px black;
    border-radius: 8px;
}

.hero-text {
    position: relative;
    z-index: 2;
}

.hero-buttons {
    background-color: #556b2f; /* olive green */
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    transition: 0.3s ease;
}

.hero-subtitle {
    font-size: 1.2rem;
    color: #F5F5E9; 
    margin-top: 15px;
}

/* map and opening times styles */
.map-container {
    max-width: 900px;
    margin: 0 auto;
}

.opening-times td:first-child {
    font-weight: 600;
}

.opening-times {
    font-size: 1.1rem;
    color :#556b2f
}

/* Menu page styles */
.menu-page h2 {
    color: #556b2f; /* olive green */
    font-weight: 700;
}

.menu-page .col-md-4 {
  padding: 0.75rem;      
}

.menu-card {
    border: 1px solid #d8d4c4;
    background-color: #faf9f5;
    border-radius: 10px;
    margin-bottom: 2rem !important;
    
}

.menu-card h5 {
    color: #556b2f;
    font-weight: 600;
}